/*
 * ODIN is a custom STM32F405RG board.  The upstream WeAct target is used only
 * for its matching STM32F405RG SoC definition; this overlay replaces its IO.
 */

#include <zephyr/dt-bindings/adc/adc.h>
#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	chosen {
		zephyr,console = &uart4;
		zephyr,shell-uart = &uart4;
		zephyr,canbus = &can2;
	};

	odin_io: odin-io {
		compatible = "odin,flight-io";
		drogue-pyro-gpios = <&gpioc 6 GPIO_ACTIVE_HIGH>;
		main-pyro-gpios = <&gpiob 14 GPIO_ACTIVE_HIGH>;
		aux-pyro-gpios = <&gpioa 3 GPIO_ACTIVE_HIGH>;
		buzzer-gpios = <&gpioc 4 GPIO_ACTIVE_HIGH>;
		lora-reset-gpios = <&gpiob 2 GPIO_ACTIVE_LOW>;
		lora-dio0-gpios = <&gpiob 6 GPIO_ACTIVE_HIGH>;
		gps-reset-gpios = <&gpioc 9 GPIO_ACTIVE_LOW>;
		io-channels = <&adc1 15>, <&adc2 1>;
		io-channel-names = "drogue-continuity", "main-continuity";
	};
};

/* Match the existing Cube clock tree: 8 MHz HSE -> 72 MHz SYSCLK. */
&pll {
	div-m = <4>;
	mul-n = <72>;
	div-p = <2>;
	div-q = <3>;
};

&rcc {
	clock-frequency = <72000000>;
	ahb-prescaler = <1>;
	apb1-prescaler = <2>;
	apb2-prescaler = <1>;
};

/* Disable peripherals enabled by the carrier-board definition. */
&usart1 { status = "disabled"; };
&usart2 { status = "disabled"; };
&i2c1 { status = "disabled"; };
&can1 { status = "disabled"; };
&sdmmc1 { status = "disabled"; };
&usbotg_fs { status = "disabled"; };

&uart4 {
	pinctrl-0 = <&uart4_tx_pa0 &uart4_rx_pc11>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&uart5 {
	pinctrl-0 = <&uart5_tx_pc12 &uart5_rx_pd2>;
	pinctrl-names = "default";
	current-speed = <9600>;
	status = "okay";
};

&spi1 {
	pinctrl-0 = <&spi1_sck_pa5 &spi1_miso_pa6 &spi1_mosi_pa7>;
	pinctrl-names = "default";
	cs-gpios = <&gpioa 10 GPIO_ACTIVE_LOW>,
		     <&gpioc 7 GPIO_ACTIVE_LOW>,
		     <&gpiob 11 GPIO_ACTIVE_LOW>;
	status = "okay";

	odin_imu: imu@0 {
		compatible = "odin,raw-spi";
		reg = <0>;
		spi-max-frequency = <4500000>;
		spi-cpol;
		spi-cpha;
	};

	odin_baro: barometer@1 {
		compatible = "odin,raw-spi";
		reg = <1>;
		spi-max-frequency = <4500000>;
		spi-cpol;
		spi-cpha;
	};

	odin_highg: highg@2 {
		compatible = "odin,raw-spi";
		reg = <2>;
		spi-max-frequency = <4500000>;
		spi-cpol;
		spi-cpha;
	};
};

&spi2 {
	pinctrl-0 = <&spi2_sck_pb10 &spi2_miso_pc2 &spi2_mosi_pb15>;
	pinctrl-names = "default";
	cs-gpios = <&gpiob 0 GPIO_ACTIVE_LOW>;
	status = "okay";

	odin_lora: radio@0 {
		compatible = "odin,raw-spi";
		reg = <0>;
		spi-max-frequency = <2250000>;
	};
};

&spi3 {
	pinctrl-0 = <&spi3_sck_pc10 &spi3_miso_pb4 &spi3_mosi_pb5>;
	pinctrl-names = "default";
	cs-gpios = <&gpioc 0 GPIO_ACTIVE_LOW>;
	status = "okay";

	odin_flash: w25q128@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <4500000>;
		jedec-id = [ef 40 18];
		size = <0x08000000>;
	};
};

&adc1 {
	pinctrl-0 = <&adc1_in15_pc5>;
	pinctrl-names = "default";
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;
	channel@15 {
		reg = <15>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&adc2 {
	pinctrl-0 = <&adc2_in1_pa1>;
	pinctrl-names = "default";
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;
	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&can2 {
	pinctrl-0 = <&can2_rx_pb12 &can2_tx_pb13>;
	pinctrl-names = "default";
	bitrate = <500000>;
	sample-point = <833>;
	status = "okay";
};

&clk_lsi { status = "okay"; };
&iwdg { status = "okay"; };
